    <h1>A little about this blog</h1>
    <p>
     Just a place for me to practice my html, javascript, and css skills.

     Hopefully it develops into a fun place for nerds to hang out and enjoy learning.
     </p>